# NOTE: This file should be a copy of .gitignore, *EXCEPT* that it
# should not ignore the built component.js files

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Go
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.test
*.prof

# Java/Maven
/target
dependency-reduced-pom.xml
pom.xml.asc
*.jar
*.class

# Sublime
*.sublime-workspace
*.sublime-project

# OSX
.DS_Store

# Idea
/bin
.idea
*.iml

# Node
node_modules

# Visual Studio Code
.vscode

# Eclipse Core      
.project

# JDT-specific (Eclipse Java Development Tools)     
.classpath

# Emacs
*~
*#